################################################################################
##
##  Licensed to the Apache Software Foundation (ASF) under one
##  or more contributor license agreements.  See the NOTICE file
##  distributed with this work for additional information
##  regarding copyright ownership.  The ASF licenses this file
##  to you under the Apache License, Version 2.0 (the
##  "License"); you may not use this file except in compliance
##  with the License.  You may obtain a copy of the License at
## 
##    http://www.apache.org/licenses/LICENSE-2.0
## 
##  Unless required by applicable law or agreed to in writing,
##  software distributed under the License is distributed on an
##  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
##  KIND, either express or implied.  See the License for the
##  specific language governing permissions and limitations
##  under the License.    
## 
#################################################################################
#if ( ! $work.isNoticeRequired() )
#stop
#end
$indent.indent(2, $work.PrimaryNotice)


#if ( ! $work.ResourcesRequiringSourceLinks.isEmpty() )
  ##Download the source for:
#foreach ( $resource in $work.ResourcesRequiringSourceLinks )
    $resource.Name from $resource.Source
#end
#end

#set ( $map = $work.ResourceNotices )
#if ( ! $map.isEmpty() )
  This distribution contains third party resources requiring the following notices:
#foreach ( $key in $map.keySet() )

    
  For 
#foreach ( $resource in $map.get( $key ) )    
    $resource.Name
#end
  
$indent.indent(8, $key)
#end
#end